@model IEnumerable<Models.Entity.Product>
<div>
    <div class="category-header">
        <div>
            <div class="card" style="border-top-width: 0px; border-left-width: 0px; border-right-width: 0px; border-bottom-width: 0px">
                <h5 class="card-header bg-info">Tất cả các sản phẩm</h5>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.Raw(ViewBag.Paging)
</div>
<div class="slider-product row">
    @foreach (var item in Model)
    {
        <div class="single-product-custom col-lg-3 col-md-4 col-sm-12">
            <div class="card-product-custom">
                <div class="card" style="border: none">
                    <div>
                        <img class="img-fluid img-thumbnail" src="@Html.DisplayFor(m => item.ImageUrl)" alt="@Html.DisplayFor(m => item.Title)" style="width: 100%;height: 185px;" >
                    </div>
                    <div class="card-body text-center" style="padding: 0px">
                        <a href="@Url.Action("SingleProduct", "Product", new {Id = item.Id})">
                            <p class="card-text text-dark font-weight-bold">@Html.DisplayFor(m => item.Title)</p>
                        </a>
                    </div>
                    <p class="text-center text-danger">
                        Giá: @Html.DisplayFor(m => item.Price)
                    </p>
                </div>
            </div>
        </div>
    }
</div>