@model IEnumerable<Web.Models.CategoryProductView>

@foreach(var element in Model)
{
<div class="top-seller-pro">
    <div class="category-header">
        <div>
            <div class="card" style="border-top-width: 0px; border-left-width: 0px; border-right-width: 0px; border-bottom-width: 0px">
                <h5 class="card-header bg-info"> @Html.DisplayFor(m => element.CategoryName) </h5>
            </div>
        </div>
    </div>
    <div class="slider-product row">
        @foreach (var item in element.Products)
        {
            <div class="single-product-custom col-lg-3 col-md-4 col-sm-12">
                <div class="card-product-custom">
                    <div class="card" style="border: none">
                        <img class="card-img-top" src="@Html.DisplayFor(m => item.ImageUrl)" alt="image" style="width:100%">
                        <div class="card-body text-center" style="padding: 0px">
                            <a href="@Url.Action("SingleProduct", "Product", new {id = item.Id, productName = item.ProductName.ConvertToUnSign3().ToSeoUrl()})">
                                <p class="card-text text-dark font-weight-bold">@Html.DisplayFor(m => item.Title)</p>
                            </a>
                        </div>
                        <p class="text-center text-danger">
                            Giá: @Html.DisplayFor(m => item.Price)
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

}
